.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 70vh;
}

.theme-btn {
  display: flex;
  height: 45px;
  width: 240px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
}

.outer-btn {
  padding: 0px 5px;
  height: 20px;
  width: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 0px 8px;
  cursor: pointer;
}

.inner-btn {
  background-color: white;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.outer-btn.dark-mode .inner-btn  {
  transform: translateX(16px);
}

.hide-sidebar {
  height: 48px;
  width: 278px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 700;
}

.hide-sidebar:hover {
  cursor: pointer;
  background-color: #635FC740;
}

.sidebar-hidden {
  display: none;
}

.reveal-sidebar {
  font-size: x-large;
  position: fixed;
  bottom: 15%;
  left:0px;
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: #A8A4FF;
  height: 48px;
  width: 56px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.reveal-sidebar:hover {
  cursor: pointer;
  background-color: #635fc7;
}

/* to prevent sidebar from popping up */
@media (max-width: 767px) {
  #sidebar {
    display: none !important; 
  }

  #hide-sidebar-btn {
    display: none !important; 
  }

  #reveal-sidebar-btn {
    display: none !important;
  }
}
