.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 70vh;
}

.theme-btn {
  display: flex;
  background-color: #f4f7fd;
  height: 40px;
  width: 240px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.outer-btn {
  background-color: #635fc7;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  width: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 0px 8px;
}

.inner-btn {
  background-color: white;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.hide-sidebar {
  background-color: #f4f7fd;
  color: #635fc7;
  height: 48px;
  width: 251px;
  border-radius: 6px;
  align-items: center;
  font-size: larger;
}
